.DS_Store
old/
.DS_Store 
.vscode/
data/members.xlsx
.#uw_travelers_group.org
uw_travelers_group.org
data/presentations/2026_Feb_22/Tanzania 2025.pdf
data/presentations/2026_Feb_22/~$Tanzania 2025.pptx
